
@{
    ViewBag.Title = "Contact";
}
<div class="container">
    <h2>Contact</h2>
    <div class="panel panel-dark-blue margin-bottom-40">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-info-circle"></i>Information</h3>
        </div>
        <div id="contact-info" class="panel-body">
            <ul class="list-unstyled">
                <li>
                    <strong>Rhodes Dive Centre</strong><br />
                    M. Kontomari - M. Archontis-E.Kanavos
                </li>

                <li>
                    <strong>Address:</strong>
                    Pefki, Rhodes A.C. 85107
                </li>

                <li>
                    <strong>Mobile:</strong>
                    +30 697777777
                </li>

                <li>
                    <strong>E-mail:</strong>
                    divecenterRhodes@gmail.com
                </li>

            </ul>
        </div>
    </div>
</div>

