
@{
    ViewBag.Title = "Dive";
}

<div class="content-md">
    <div class="container">
    </div>
    <div class="container">
        <div class="container">
            <div class="center">
                <h1>Dive Spots</h1>
                <div class="hr">
                </div>
            </div>
        </div>

        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">St. Paul's Bay<span class="text-muted"></span></h2>
                <p class="lead">A complex of caverns on a sharp wall right on the edge of Lindos basin (second deepest spot of the Mediterranean sea). "Fly" in the clear deep blue of the Aegean sea!</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/spot2.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Great cave "Cleobulus Tomb"<span class="text-muted"></span></h2>
                <p class="lead">These information regard only the first dome of this magnificent cave, that is easily accessible for OWD. A proper cave that will make you want to become Advanced divers just to see where this cave leads…</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/cave.jpg" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Plimmiri - "Giannoula K." shipwreck<span class="text-muted"></span></h2>
                <p class="lead">Sunk in 1981, 110m long and with her mast coming all the way up to the surface, this cargo ship will take your breath away. This wreck dive is a 2 dives package. The first dive is all around the vessel and the upper decks and in the second dive we visit inner parts and the engine room.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/spot1.png" alt="Generic placeholder image">
            </div>
        </div>
        <hr class="featurette-divider">
        <div class="row featurette">
            <div class="col-md-7 col-md-push-5">
                <h2 class="featurette-heading">Pentanissos islet<span class="text-muted"></span></h2>
                <p class="lead">Typical Mediterranean Reef. The great visibility combined with the dramatic formations of the rocks create an amazing terrain for a relaxing dive ideal for all level divers and for refresh dives.</p>
            </div>
            <div class="col-md-5 col-md-pull-7">
                <img class="featurette-image img-responsive center-block" src="~/Content/images/spots.jpg" alt="Generic placeholder image">
            </div>
        </div>
    </div>
    <hr class="featurette-divider">


