
@{
    ViewBag.Title = "School";
}

<div class="content-md">
    <div class="container">
    </div>
    <div class="container">
        <div class="container">
            <div class="center">
                <h1>Diving Courses</h1>
                <div class="hr">
                </div>
            </div>
        </div>

        <!-- Equipment -->
        <div class="row margin-bottom-40">
            <div class="col-md-6">
                <div class="headline">
                    <h2>Learning to dive</h2>
                    <div>
                        <hr />
                    </div>
                </div>
                <p>Our Diving Centre offers safety and security of the divers as this is our main interest. We have chosen “Aqualung”, one of the most reliable and long lasting companies for diving equipment by Jacques Cousteau, as we want to ensure the safety and pleasure of your diving experience. The diving equipment consists of breathing regulators by Aqualung and Scuba Pro, BCD Aqualung, masks Technisub, long wet suits 5.5 mm, monoshorts 3mm, flippers open and closed style, all with the guarantee of Aqualung. All the bottles are from steel 10 lt, 12 lt, 15 lt, and 6 lt for our young friends and fans of bubble making (A PADI certified course for children)! The bottles are filled by two top quality compressors, L&W 225 E and L&W 280 E.</p>
            </div>

            <div class="col-md-6">
                <img class="img-responsive" src="~/Content/images/school.jpg" alt="Dive School" />
            </div>
        </div>

        <!-- Facilities -->
        <div class="row margin-bottom-40">
            <div class="col-xs-12">
                <div class="headline">
                    <hr />
                    <div class="content-md">
                        <div class="container">
                        </div>
                        <div class="container">

                            <div class="heading heading-v1">
                                <h2>Courses</h2>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-dark-blue">
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-bordered table-condensed">
                                                <caption class="sr-only">Basic Courses</caption>
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Course Title</th>
                                                        <th scope="col">Description</th>
                                                        <th scope="col">Prerequisites</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>BubbleMaker</td>
                                                        <td>It’s a private lesson for children that includes one dive in a pool.</td>
                                                        <td>Minimum age: 8 years old</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Discover Scuba Diving (DSD)</td>
                                                        <td>In DSD you will have a 30 min theoretical lesson in which you learn the basics of diving and you will perform the first dive down to 6 meters . After completing DSD with success you have the option of a second shallow dive down to 12 m. in the same day for an extra charge of 30 €</td>
                                                        <td>Minimum age: 10 years old</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Scuba Diver (SD) – Junior SD</td>
                                                        <td>It’s a 2 days course that includes 3 confined water sessions and 2 dives down to 12m. and a multiple choice examination</td>
                                                        <td>Minimum age: 15 years old (or 10 years old for the Junior SD)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Open Water Diver (OWD) – Junior OWD</td>
                                                        <td>It’s a 4 days course that includes 5 confined water sessions and 4 dives down to 18m and a multiple choice examination</td>
                                                        <td>Minimum age: 15 years old (or 10 years old for the Junior OWD)</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Upgrade SD to OWD – Junior OWD</td>
                                                        <td>It’s a 1 day course that includes 2 confined water sessions and 2 dives to maximum 18m and multiple choice examination</td>
                                                        <td>Minimum age: 15 years old (or 10 years old for the Junior OWD) Plus SD certification</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Adventure Diver (AD) – Junior AD</td>
                                                        <td>It’s a 2 days course that includes 3 adventure dives of your choice (night dive, deep dive, wreck dive etc.)</td>
                                                        <td>Minimum age: 15 years old (or 10 years old for the Junior AD) Plus OWD certification</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Advanced OWD (AOWD) - Junior AOWD</td>
                                                        <td>It’s a 3 days course that includes a deep dive a navigation dive and 3 adventure dives of your choice (night dive, wreck dive etc.)</td>
                                                        <td>Minimum age: 15 years old (or 12 years old for the Junior AOWD) Plus OWD certification</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Upgrade AD to AOWD - Junior AOWD</td>
                                                        <td>It’s a 1 day course that includes 2 adventure dives of your choice ( night dive,wreck dive, deep dive)</td>
                                                        <td>Minimum age: 15 years old (or 12 years old for the Junior AOWD) Plus AD certification Plus navigation and deep dives  </td>
                                                    </tr>
                                                    <tr>
                                                        <td>Emergency First Response (EFR)</td>
                                                        <td>It's a 2 days course for divers and non divers in which you learn the basics about primary , secondary care and care for children and the use of AED</td>
                                                        <td></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>

                            </div><!-- END .container -->
                        </div><!-- END .container -->
                    </div><!-- END .content-md -->






